:root {
  --primary: #8fcfa1;
  --secondary: #59b674;
  --black: #0a0a0a;
  --white: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
}

.logo-fotos {
  width: 28%;
  height: 100%;
  border-right: 3px solid var(--primary);
}

.logo-fotos img {
  display: block;
}

.logo {
  width: 18rem;
  margin: 2rem auto 0;
}

.fotos {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85%;
}

.fotos img {
  width: 15rem;
  border: 3px solid var(--primary);
  padding: 3px;
  z-index: 1;
}

.fotos img:hover {
  transform: scale(1.3) rotate(5deg);
  border: none;
  transition: all 0.5s;
  z-index: 10;
}

.frase {
  width: 19%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.frase p {
  color: var(--primary);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.frase p span {
  font-weight: 400;
}

.info {
  background-image: linear-gradient(
    to top right,
    var(--primary),
    var(--secondary)
  );
  width: 43%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info h1 {
  text-transform: uppercase;
}

.info img {
  width: 8rem;
}

.info-texto::-webkit-scrollbar {
  width: 0.7rem;
}

.info-texto {
  height: 50%;
  padding: 0 4rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--white);
}

.info-texto::-webkit-scrollbar-track {
  background: var(--white);
}

.info-texto::-webkit-scrollbar-thumb {
  background-color: var(--secondary) ;
  border-radius: 6px;
  border: 3px solid var(--white);
}

nav {
  width: 7%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: inline;
  width: 40%;
}

nav img {
  width: 85%;
  display: block;
  padding: 0.3rem;
  border: 3px solid var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
}

nav img:hover {
  opacity: 0.8;
}

nav img:active {
  opacity: 0.7;
}